#tx_sendsms_pi1_header {margin-bottom:1em;}
#tx_sendsms_pi1_answer {margin-bottom:1em;}
.tx-sendsms-phone {margin-bottom:1em;}
.tx-sendsms-message {}
.tx-sendsms-flash {margin-top:1em;}
.tx-sendsms-captcha {margin-top:1em;}
.tx-sendsms-submit {margin-top:1em;}
.tx-sendsms-error {color:red;}